* {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

h1,
p {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 520px;
  margin: 80px auto;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.header {
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 18px 0;
}

.header_title {
  display: inline-block;
  font-size: 16px;
}

.header_title::after {
  content: '';
  display: inline-block;
  background-image: url(image/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 19px;
  right: 16px;
}

.main {
  padding: 20px 24px;
}

.main_text {
  font-size: 20px;
  margin-bottom: 24px;
}

.id,
.password {
  display: block;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 16px;
}

.login-status {
  margin-top: 16px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  background-image: url(image/check-box.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#login-checkbox[type='checkbox']:checked + .login-status {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  background-image: url(image/check-box2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#login-checkbox {
  display: none;
}

.login-status-text {
  display: inline-block;
  vertical-align: 4px;
  color: #767676;
}

.login {
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 18px;
  background-color: #2f80ed;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0;
  margin: 20px 0px;
  text-align: center;
}

.join_find {
  text-align: center;
}

.join,
.find {
  font-size: 14px;
  color: #767676;
}

.join::after {
  content: '|';
  display: inline-block;
  margin: 0 10px;
}

.or {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #767676;
  margin-top: 28px;
}

.or::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #c4c4c4;
}

.or::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #c4c4c4;
}

.google,
.facebook,
.naver,
.kakao {
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  color: #767676;
  padding: 15px 0;
  margin: 10px 0;
  width: 100%;
}

.google {
  margin-top: 20px;
  border-color: #767676;
}

.facebook {
  border-color: #2d9cdb;
}

.naver {
  border-color: #00bf18;
}

.kakao {
  border-color: #f2c94c;
}

.google::before {
  content: url(image/Google.png);
  position: absolute;
  top: 10px;
  left: 10px;
}

.facebook::before {
  content: url(image/facebook.png);
  position: absolute;
  top: 10px;
  left: 10px;
}

.naver::before {
  content: url(image/naver-logo.png);
  position: absolute;
  top: 10px;
  left: 10px;
}

.kakao::before {
  content: url(image/message-circle.png);
  position: absolute;
  top: 10px;
  left: 10px;
}
