* {
  box-sizing: border-box;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
p {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  position: relative;
  width: 520px;
  margin: 80px auto;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.header {
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 18px 0;
}

.header_title {
  display: inline-block;
  font-size: 16px;
}

.close-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 21px;
  right: 23px;
}

.close-img {
  width: 16px;
  height: 16px;
}

.main {
  padding: 20px 24px;
}

.main_text {
  font-size: 20px;
  margin-bottom: 24px;
}

.id,
.password {
  display: block;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 16px;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.login-status::before {
  content: '';
  display: inline-block;
  background-image: url(image/check-box.png);
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: -5px;
}

.login-status {
  display: inline-block;
  margin-top: 16px;
  color: #767676;
}

#login-checkbox[type='checkbox']:checked + .login-status {
  background-image: url(image/check-box2.png);
  background-repeat: no-repeat;
}

.login {
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 18px;
  background-color: #2f80ed;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0;
  margin: 20px 0px;
  text-align: center;
}

.join_find {
  text-align: center;
}

.join,
.find {
  font-size: 14px;
  color: #767676;
}

.join::after {
  content: '|';
  display: inline-block;
  margin: 0 10px;
}

.or {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: #767676;
  margin-top: 28px;
}

.or::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #c4c4c4;
}

.or::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #c4c4c4;
}

a[class^='link'] {
  display: block;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  color: #767676;
  padding: 15px 14px;
  margin-bottom: 10px;
  width: 100%;
}

/* 이미지 스프라이트 레티나 대응하여 적용하기 */
/* 1배수, 2배수 이미지 스프라이트를 준비 */
a[class^='link']::before {
  display: block;
  content: '';
  float: left;
  margin-left: 4px;
  background-image: url(image/css_sprites_10px.png);
  background-repeat: no-repeat;
  background-size: 76px 76px;
}

.sns_login .link_google {
  margin-top: 20px;
  border-color: #767676;
}

.sns_login .link_facebook {
  border-color: #2d9cdb;
}

.sns_login .link_naver {
  border-color: #00bf18;
}

.sns_login .link_kakao {
  border-color: #f2c94c;
}

.link_google::before {
  width: 28px;
  height: 28px;
  background-position: -5px -8px;
}

.link_facebook::before {
  width: 28px;
  height: 28px;
  background-position: -43px -8px;
}

.link_naver::before {
  width: 28px;
  height: 28px;
  background-position: -5px -46px;
}

.link_kakao::before {
  width: 28px;
  height: 28px;
  background-position: -43px -46px;
}
